@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap");

:root {
  --dark-violet: hsl(256, 25%, 20%);
  --grayish-blue: hsl(216, 30%, 68%);
  --very-dark-violet: hsl(270, 9%, 17%);
  --dark-grayish-violet: hsl(273, 4%, 51%);
  --very-light-gray: hsl(0, 0%, 98%);
  --light-violet: rgba(50, 30, 105, 0.3);

  --font-body: "Karla", sans-serif;
  --font-headings: "DM Serif Display", serif;

  --padding-container: 80px 0;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-body);
}

.hero {
  background-color: var(--dark-violet);
}

.hero::before {
  content: "";
  background-image: url("../images/bg-pattern-intro-left-mobile.svg");
  background-repeat: no-repeat;
  position: absolute;
  top: 450px;
  left: 0;
  height: 30%;
  width: 100%;
}

.hero::after {
  content: "";
  background-image: url("../images/bg-pattern-intro-right-mobile.svg");
  background-repeat: no-repeat;
  position: absolute;
  top: 865px;
  right: 0;
  height: 330px;
  width: 124px;
}

.container {
  width: 90%;
  max-width: 1200px;
  overflow: hidden;
  margin: 0 auto;
  padding: var(--padding-container);
}

.nav {
  background-color: #fff;
  --padding-container: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 100;
}

.nav__container {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__links {
  display: none;
}

.nav__icon,
.nav__img {
  display: block;
}

.close {
  display: none;
}

.nav__hamburger.show .open {
  display: none;
}

.nav__hamburger.show .close {
  display: block;
}

.nav__links.show {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
  padding-top: 70px;
  position: fixed;
  width: 100%;
  height: calc(100vh - 70px);
  top: 70px;
  left: 0;
  background-color: var(--very-dark-violet);
  background-image: url("../images/bg-pattern-mobile-nav.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  z-index: 100;
}

.nav__link {
  text-decoration: none;
  color: var(--very-light-gray);
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
}

.nav__link:last-child {
  width: 80%;
  text-align: center;
  border: 1px solid;
  padding: 0.8rem 2rem;
}

.hero__main {
  width: 100%;
  --padding-container: 0;
}

.hero__main::before {
  content: "";
  display: block;
  height: 450px;
  background-image: url("../images/image-intro-mobile.jpg");
  background-size: cover;
  background-position: center;
}

.hero__texts {
  color: var(--very-light-gray);
  width: 87%;
  margin: 0 auto;
  padding: 110px 0;
  text-align: center;
}

.title {
  font-family: var(--font-headings);
  font-size: 2.9rem;
  font-weight: 400;
  line-height: 1;
}

.hero__paragraph {
  line-height: 1.5;
  margin-top: 1em;
}

.cta {
  display: inline-block;
  margin-top: 1.5em;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--very-light-gray);
  border: 1px solid;
  padding: 0.8em 2em;
}

.cta:hover {
  color: var(--dark-violet);
  background-color: var(--very-light-gray);
  font-weight: 600;
}

.different {
  text-align: center;
  margin-top: 3.8rem;
}

.title--different {
  color: var(--very-dark-violet);
  position: relative;
}

.title--different::before {
  content: "";
  position: absolute;
  top: -45px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 40%;
  height: 1px;
  background-color: var(--light-violet);
}

.different__items {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  margin-top: 3.5rem;
}

.different__icon {
  display: block;
  margin: 0 auto;
  margin-bottom: 1.5rem;
}

.different__title {
  font-family: var(--font-headings);
  color: var(--very-dark-violet);
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.different__paragraph {
  color: var(--dark-grayish-violet);
  line-height: 1.5;
}

.find {
  padding: 80px 0;
  --padding-container: 50px 40px;
}

.find__container {
  background-color: var(--dark-violet);
  color: var(--very-light-gray);
  text-align: center;
  position: relative;
}

.find__container::before {
  content: "";
  position: absolute;
  width: 170px;
  height: 300px;
  background-image: url("../images/bg-pattern-how-we-work-mobile.svg");
  background-repeat: no-repeat;
  top: 0;
  right: -30px;
}

.title--find {
  font-size: 2.5rem;
}

@media (max-width: 368px) {
  .title--find {
    font-size: 2rem;
  }
}

.footer {
  background-color: var(--very-light-gray);
  position: relative;
}

.footer::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../images/bg-pattern-footer-mobile.svg");
  background-repeat: no-repeat;
  top: 0;
  right: 0px;
}

.footer__brand {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid var(--dark-grayish-violet);
  margin-bottom: 1.5rem;
}

.footer__picture {
  z-index: 90;
}

.footer__contact {
  display: flex;
  align-items: center;
  gap: 1rem;
  z-index: 90;
}

.footer__navigation {
  display: flex;
  gap: 3.5rem;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
}

.footer__nav {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  text-align: center;
}

.footer__link {
  text-transform: uppercase;
  text-decoration: none;
  color: var(--dark-violet);
  font-weight: 700;
  letter-spacing: 1.5px;
}

.footer__link--first {
  color: var(--dark-grayish-violet);
  margin-bottom: 1rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 768px) {
  .hero {
    position: relative;
    z-index: 1;
  }

  .hero::before {
    background-image: url("../images/bg-pattern-intro-left-desktop.svg");
    top: 480px;
    left: 0;
    height: 504px;
    width: 195px;
  }
  
  .hero::after {
    background-image: url("../images/bg-pattern-intro-right-desktop.svg");
    top: 0px;
    right: 0;
    height: 593px;
    width: 436px;
  }

  .nav__links {
    display: block;
  }

  .nav__hamburger {
    display: none;
  }

  .nav__links {
    display: flex;
    gap: 2rem;
    align-items: center;
  }

  .nav__link {
    color: var(--dark-grayish-violet);
  }

  .nav__link:hover {
    color: var(--very-dark-violet);
  }

  .nav__link:last-child {
    width: unset;
    color: var(--dark-violet);
  }

  .nav__link:last-child:hover {
    color: var(--very-light-gray);
    background-color: var(--very-dark-violet);
    font-weight: 600;
  }

  .hero {
    background-image: linear-gradient(
      to bottom,
      var(--dark-violet) 80%,
      #fff 75%
    );
  }

  .hero__main {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    --padding-container: 140px 0 80px 0;
  }

  .hero__main::before {
    width: 42%;
    height: 570px;
    background-image: url("../images/image-intro-desktop.jpg");
    z-index: -2;
    order: 1;
  }

  .hero__texts {
    position: relative;
    color: var(--very-light-gray);
    width: 50%;
    margin: 0;
    padding: 20px 0px;
    text-align: left;
  }

  .hero__texts::before {
    content: "";
    position: absolute;
    width: 20%;
    height: 1px;
    top: 0;
    left: 0;
    background-color: var(--very-light-gray);
  }

  .title {
    font-size: 4rem;
    line-height: 0.9;
    padding-top: 50px;
    padding-bottom: 15px;
  }

  .different {
    text-align: left;
    margin-top: 60px;
  }

  .title--different::before {
    margin: 0;
    width: 10%;
    top: 5px;
  }

  .different__items {
    flex-direction: row;
    gap: 2rem;
    justify-content: space-between;
  }

  .different__item {
    flex: 1;
  }

  .different__icon {
    margin-left: 0;
  }

  .find {
    --padding-container: 70px 80px;
  }

  .find__container {
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 1;
  }

  .find__container::before {
    content: "";
    width: 40%;
    height: 100%;
    background-image: url("../images/bg-pattern-how-we-work-desktop.svg");
    background-size: cover;
    background-position: left;
    top: 0;
    right: 0;
    z-index: -1;
  }

  .title--find {
    width: 60%;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .footer__brand {
    flex-direction: row;
    justify-content: space-between;
  }

  .footer__navigation {
    gap: 1.5rem;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }

  .footer__nav {
    width: 23%;
    align-items: flex-start;
  }

  .footer__container {
    position: relative;
  }

  .footer::before {
    background-image: url("../images/bg-pattern-footer-desktop.svg");
  }

  .footer__media:hover {
    filter: brightness(0) saturate(100%) invert(9%) sepia(5%) saturate(2810%) hue-rotate(227deg) brightness(98%) contrast(82%);
  }
  

  .footer__link:hover{
    text-decoration: underline;
  }

  .footer__link--first:hover{
    text-decoration: unset;
  }

}
